<%= simple_form_for @actor, html: {multipart: true, class: "container" } do |f| %>
  <div class="form-group">
    <%= f.input :name, input_html: { class: "form-control" }%>
  </div>

  <div class="form-group">
    <%= f.file_field :image, input_html: { class: "form-control" }%>
  </div>

  <div class="form-group">
    <%= link_to 'Back', actors_path, class:"btn btn-primary" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>