<% if current_user.id != likeable.creator.id %>
  <% if user_signed_in? && current_user.likes?(likeable)%>
    <%= simple_form_for([likeable, likeable.likes.find_by_user_id(current_user.id)], :method => :delete, id: likeable.id, remote: true) do |f| %>
    
      <%= button_tag(type: 'submit', class: "button-like") do %>
        <i class="fas fa-heart"></i> Unlike
      <% end %>
    <% end %>
  <% else %>
    <%= simple_form_for([likeable, Like.new], html: { method: :post }, remote: true) do |f| %>
      <%= button_tag(type: 'submit', class: "button-like") do %>
        <i class="far fa-heart"></i> Like
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <small class="mr-1">Likes </small>
<% end %>

<div class="likes-image">
<% likeable.likes.each do |like| %>
  <%= gravatar_image_tag(like.user.email.gsub('span', 'mdeering'), alt: like.user.name, gravatar: { size: 25 }) %>
<% end %>
</div>