
<h1 class="text-center mb-5">Films</h1>

<div class="container">
  <%= link_to 'New Film', new_film_path, class: "btn btn-primary ml-5 mb-4 w-25" %>
  <div class="d-flex flex-wrap justify-content-center">
    <% @films.each do |film| %>
      <div class="card mb-2 mx-4" style="width: 30rem;">
        <img src="<%= film.image %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= link_to film.name, film_path(film) %></h5>
          <%= link_to 'Edit', edit_film_path(film), class: "btn btn-primary" %>
          <%= link_to 'Delete', film_path(film), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
          <div id="<%= film.id %>_likes" class="likes">
            <%= render 'likes/likes', likeable: film %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

