<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 25rem; height: 32rem">
        <img src="<%= @film.image %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= link_to @film.name, film_path(@film) %></h5>
          <%= link_to 'Back', films_path, class: "btn btn-primary" %>
          <div id="<%= @film.id %>_likes" class="likes">
            <%= render 'likes/likes', likeable: @film %>
            <%= link_to 'Delete', film_like_path(@film), method: :delete %>
          </div>
        </div>
    </div>
  </div>
  <div class="comments mt-5">
    <h2>Comments</h2>
    <%= render 'comments/form', commentable: @film %>
    <%= render 'comments/comments', commentable: @film  %>
  </div>
</div>