<div>
  <% if user_signed_in? %>
  <% if current_user.id != event.user.id && current_user.name == event.eventable.name %>
    <%= event.user.name %>
    started following you
  <% elsif current_user.id != event.user.id && current_user.name != event.eventable.name%>
    <%= event.user.name %>
    started following
    <%= event.eventable.name %>
  <% else %>
    <%= event.action.titleize %>
    <%= event.eventable.name %>
  <% end %>
  <%= time_ago_in_words(event.created_at) %> ago..
  <% end %>
</div>