<!DOCTYPE html>
<html>
  <head>
    <title>ActorsFilms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="notifications">
    </div>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
   	<% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
          <%= alert %>
      </div>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Home', root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Actors', actors_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Films', films_path, class:"nav-link" %>
            </li>
          <% end %>
          
        </ul>
        <% if user_signed_in? %>
          <%= link_to current_user.name, root_path, class: "mr-2" %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "mr-5" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "border px-5 pt-2 pb-2" %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
